PORT=3000
MONGO_URI=mongodb+srv://ullasbhgowdaullas_db_user:FileShare2026Secure@cluster0.oy9hfhb.mongodb.net/fileshareapp?retryWrites=true&w=majority
SESSION_SECRET=change_this_to_a_long_random_string
NODE_ENV=development
